.hero-page {
  .hero-page__list {
    .hero-page__list__item {
      background: #fafafa;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 5px;
      font-size: 14px;
      display: flex;
      justify-content: space-between;

      .accordion-button {
        padding: 10px 20px;
      }

      .hero-name__input {
        max-width: 250px;
        padding: 5px 10px;
        font-size: 15px;
      }

      .hero-name__text {
        padding: 5px 10px;
        border: 1px solid transparent;
        font-size: 15px;
        line-height: 22px;
      }

      .hero__card-text {
        border: 1px solid transparent;
        padding: 5px 10px;
        font-size: 15px;
      }

      .hero__card-body {
        padding: 10px 15px;
      }

      .hero__text-area {
        padding: 5px 10px;
        font-size: 15px;
      }

      .edit-save__btn {
        position: absolute;
        right: 60px;
      }
    }
  }
}
